<h1>Weather forecast</h1>
<p>This component demonstrates fetching data from the server.</p>
<p *ngIf="!forecasts"><em>Loading...</em></p>
<table class="table" *ngIf="forecasts">
  <thead>
    <tr>
      <th colspan="5" class="form-row text-center">
        <div class="col-2">Date</div>
        <div class="col-2">Temp. (C)</div>
        <div class="col-2">Temp. (F)</div>
        <div class="col-4">Summary</div>
        <div class="col-2"></div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts; let i = index">
      <td colspan="5">
        <form #forecastForm="ngForm" class="row form-row">
          <div class="col-2">
            <input #date="ngModel" name="data_{{i}}" id="data_{{i}}" type="date" required class="form-control" [(ngModel)]="forecast.date">
            <div class="validation-message" [hidden]="date.valid || date.pristine">
              Required!
            </div>
          </div>
          <div class="col-2">
            <input #temperatureC="ngModel" name="temperatureC_{{i}}" id="temperatureC_{{i}}" type="number" required class="form-control" [(ngModel)]="forecast.temperatureC">
            <div class="validation-message" [hidden]="temperatureC.valid || temperatureC.pristine">
              Required!
            </div>
          </div>
          <div class="col-2">
              {{ 32 + forecast.temperatureC / 0.5556 | number : '1.0-0'}}
          </div>
          <div class="col-4">
            <input #summary="ngModel" name="summary_{{i}}" id="summary_{{i}}" type="text" required class="form-control" [(ngModel)]="forecast.summary">
            <div class="validation-message" [hidden]="summary.valid || summary.pristine">
              Required!
            </div>
          </div>
          <div class="col-2">
              <button type="button" class="btn btn-warning" (click)="save(forecastForm, forecast)">
                Save
              </button>
          </div>
        </form>
    </tr>
  </tbody>
</table>